div(flex ,layout="row", layout-align="end end")
  md-fab-speed-dial(md-open="false", md-direction="left", ng-class="md-fling")
    md-fab-trigger
      md-button(aria-label="Contato", class="md-fab md-primary md-accent")
        md-icon(md-svg-src="images/icons/ic_account_box_48px.svg")
    md-fab-actions
      md-button(href="https://github.com/Pompeu" ,aria-label="github" class="md-accent md-fab md-primary md-mini")
        md-icon(md-svg-icon="images/icons/github_512_black.svg")
      md-button(href="https://twitter.com/Pompeulimp" ,aria-label="facebook" class="md-accent md-fab md-primary md-mini")
        md-icon(md-svg-icon="images/icons/facebook_4096_black.svg" )
      md-button(href="https://www.facebook.com/itacir.pompeu" ,aria-label="Twitter button" class="md-accent md-fab md-primary md-mini")
        md-icon(md-svg-icon="images/icons/social-twitter.svg" )
