block content
  div(flex)
    md-toolbar(class="md-tall" layout="row" layout-align="center end")
      div(flex flex-sm-"100" flex-gt-sm-"95" flex-md-"80"  layout="column")
        h2(layout="row" layout-align="center center")
          | #{title}
        span(flex)
        md-tabs(md-stretch-tabs="always" md-selected="selectedIndex" class="md-primary md-hue-2")
          md-tab(label="lerpost" ui-sref="lerpost")
          md-tab(label="Tutoriais" ui-sref="tutoriais")
          md-tab(label="Contato" ui-sref="contato")