div(ng-if="!$root.user" , ng-controller="LoginCtrl", flex="33" ,layout="row", layout-align="end start")
  md-button(ng-click="showLogin($event)",aria-label="Contato", class="md-fab md-primary md-accent")
    md-icon(md-svg-src="images/icons/ic_person_add_48px.svg")