block content
	div(flex)		
		md-content(class="md-padding")
			md-card
				h1 Nome : Itacir Ferreira Pompeu
				p Idade : 32
				P Atividade : Estudante e programador
				p Email : itacir@hotmail.com
				p <a href='https://github.com/pompeu'> GitHub </a>
				p <a href='https://www.facebook.com/itacir.pompeu'> Facebook </a>
				p Escolaridade : Graduando em Sistemas Para Internet at Instituto Federal Goiano Morrinhos
				p Projetos : Pibic Redes de Conhecimentos pelo CNPQ, Pivic desenvovimento de um App de noticias para celular do IFgoiano