block content
 
 div(class="navbar navbar-fixed-bottom")
  div(class="footer-center")
   a(href="https://www.heroku.com/")
    img(class="footer-center-logos" src="/images/herokulogo.png")
   a(href="http://expressjs.com/")
    img(class="footer-center-logos" src="/images/expressjs.png")
   a(href="http://nodejs.org/")
    img(class="footer-center-logos" src="/images/nodeLogo2.png")
   a(href="https://angularjs.org/")
    img(class="footer-center-logos" src="/images/AngularJS-large.png")
   a(href="http://www.mongodb.org/")
    img(class="footer-center-logos" src="/images/mongodb-logo.png")
   