block content
 nav(class="navbar navbar-fixed-top" role="navigation")
  div(class="container-fluid header navbar-inverse")
   div(class="navbar-header ")
    a(class="navbar-brand" href="#")
     img(alt="Home" src="...")
   div(class="navbar-header")
    a(class="navbar-brand" href="#")
     img(alt="Postagens" src="...")
   div(class="navbar-header")
    a(class="navbar-brand" href="#")
     img(alt="Trabalhos" src="...")
   div(class="navbar-header")
    a(class="navbar-brand" href="#")
     img(alt="Contato" src="...")
   div(class="search")
    form(class="navbar-search pull-right")
     input(type="text" class="search-query" placeholder="Busca")