block content
 div(class="navbar-fixed-top")
  div(class="btn head")
    label(class="btn haed") Buscar Post por nome
    input(id="busca" type="search" name="buscaByname")
    button(class="btn btn-success" onclick="buscar()") buscar
 