script(src="/angular/angular.min.js")
script(src="/angular/angular-route.min.js")
script(src="/javascripts/postscontroller.js")
script.
 var buscar = function () {
 	if(document.getElementById('busca').value){
 		alert(document.getElementById('busca').value);
 	}
 	return false;
 }