script(src="/angular/angular.min.js")
script(src="/angular/angular-route.min.js")
script(src="/angular/angular-cookies.min.js")
script(src="/bower_components/angular-utils-pagination/dirPagination.js")
script(src="/javascripts/app.js")

