block content
	div(class="post container form-group ")
		div(class="post-centro" , dir-paginate="post in posts | filter:searchPost |  itemsPerPage: 2")
			div(class="post-centro-texto-titulo")
				label(for="comment" class="control-label" ) {{post.titulo}}
			div(class="post-centro-resumo") {{post.body}}
			div(class="post-centro-texto-titulo")
				<a href="#post-datails"> ler mais </a>
		dir-pagination-controls