block content
  .login(layout="column")
    .md-content(layout-padding class="autoScroll")
      form(action='/login' class="form-signin" role="form" method="post")
        md-toolbar(md-scroll-shrink class="form-signin-heading") Sign IN
        if error
          .md-warn
            p #{error}
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        md-input-container(class="md-icon-float")
          label Email address
            md-icon(md-svg-src="img/icons/ic_person_24px.svg" class="name")
          input(ng-model="user.email" required="" autofocus="" type="email")
        md-input-container(class="md-icon-float")
          label Password
            md-icon(md-svg-src="img/icons/ic_person_24px.svg" class="name")
          input(ng-model="user.password" required="" type="password")
        md-button(class="md-raised md-primary") Logar
        md-button(class="md-icon-button md-primary", href="#register") registrar