block content
  .login
    .container-fluit
      form(action='/login' class="form-signin" role="form" method="post")
        h2(class="form-signin-heading") Sign IN
        if error
          .alert-danger
            p #{error}
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        .form-group
            input(class="form-control" placeholder="Email address" required="" autofocus="" type="email" name='email')
        .form-group
            input(class="form-control" placeholder="Password" required="" type="password" name='password')
        .form-group
                input(type="checkbox")
                label Lembrar
        .form-group 
            button(class="btn btn-lg btn-primary btn-block" type="submit") Logar
        .form-group     
            <a href="#register" class="btn btn-lg btn-primary btn-block"> registrar  </a>