extends layout

block content
  div(class="post container form-group")
    div(class="post-centro")
      div(class="post-centro-texto-titulo")
        label(for="comment" class="control-label" ) Node JS
      div(class="post-centro-resumo")
      div(class="post-centro-texto-titulo")
        md-button(ui-sref="lerpost" class="md-fab md-primary md-hue-2" aria-label="Profile")
          md-icon(md-svg-src="images/icons/ic_keyboard_backspace_48px.svg")