extends layout

block content
 include head
 include footer
 div(class="post container form-group")
   div(class="post-centro")
    div(class="post-centro-texto-titulo") 
      a(href="") 
       label(for="comment" class="control-label" )  Node JS 
    div(class="post-centro-texto")
     p Se você ouviu falar do Node, ou leu
       artigos que proclamam como ele é maravilhoso, poderá estar pensando: “Afinal, o que é Node.js?”. Apesar de não ser para todos, o Node pode ser a escolha certa para algumas pessoas.Este artigo buscará responder o que é o Node.js resumindo o problema que ele pode resolver, como ele funciona, como executar um aplicativo simples e, finalmente, quando o Node é ou não é uma boa solução. Ele não abordará como escrever um aplicativo Node complicado nem será um tutorial completo sobre Node. A leitura deste artigo o ajudará a decidir se você deverá buscar aprender Node para usar em seu próprio negócio.
   div(class="form-group")
    label(for="name" ) comentarios
    div(class="form-group post-centro-comentario")
     textarea(class="form-control" rows="1" id="comment")
     button(class="btn btn-success btn-post btn-xs") comentar
  div(class="img-responsive img-child")
   img(src="/images/criancaOlhando.jpeg" style="width : 200px")