extends layout

block content
  md-content.md-padding
    md-card(layout="column", layout-align="center center")
      strong.md-toolbar-tools(layout-align-gt-sm="center")
        | {{post.title}}
      render-html(html="post.body")
      strong
        | tags : {{post.tags}} 
      md-button(ui-sref="lerpost", class="md-fab md-primary md-hue-2", aria-label="Profile")
        md-icon(md-svg-src="images/icons/ic_keyboard_backspace_48px.svg")