extends layout
	
block content
	div(class="post container form-group")
		div(class="post-centro")
			div(class="post-centro-texto-titulo")
				label(for="comment" class="control-label" ) Node JS
				div(class="post-centro-resumo")
				div(class="post-centro-texto-titulo")
			a(href="") ler mais