block content
md-content(class="md-padding")
  md-card(layout="column" layout-fill style="padding-bottom: 32px;")
    md-whiteframe(class="md-padding md-whiteframe-z5" layout="row")
      md-list(class="post-centro")
        md-list-item(ng-repeat="tutorial in tutoriais ")
          md-card-content(layout-align="center center")  
            a(ng-href="#/tutoriais/{{tutorial.id}}")
              h1.md-title
                | {{tutorial.titulo}}
            p
              | {{tutorial.resumo | limitTo: 20}}            
          md-divider(md-inset ng-if="!$last")