*{
	padding: 0px;
	margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

textarea{ 
  width: 300px; 
  min-width:300px; 
  max-width:300px;
}

.search{
 margin: 12px;
}

.header{
  width: 900px;
  border: none;
}
@media (max-width: 600px) {
  .md-whiteframe-z5 {
  }
}
.postar, .cadastrar{
  width: 600px;
  margin: 0 auto;
  border: 5px;
}

.login{
  width: 300px;
  height: 300px;
  margin: 11% auto;
}

.footer-center{
  width: 900px;
  height: 70px;
  margin: 0px auto;
}

.footer-center-logos{
  width: 150px;
  height: 60px;
  margin: 15px;
  float: left;
}

.post-centro{
  padding: 5px;
  width: 99%;  
}

.post-centro-resumo{
  width: 100%;
  height: 150px;
  text-align: justify;
  word-wrap: break-word;
}

.post-centro-texto-titulo{
  width: 100%;
  height: 25px;
  margin: 0px auto;
  text-align: center;
}

.btn-post{
  height: 20px;
  width: 100px;
  border-radius: 6%;
}

.img-child{
  width: 120px;
}

footer {
  background-color: #ccc;
  margin-bottom: 1px;
  display: block;
}

md-card {
  padding: 20px;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas {
      background: white; 
}

.tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
}

.md-menu-lateal .md-menu-demo {
  padding: 24px; }
.menu-demo-container .menu-demo-container {
  min-height: 200px; }



.fabToolbardemoBasicUsage md-fab-toolbar.md-left md-fab-trigger.align-with-text {
  left: 7px; }



