*{
	padding: 0px;
	margin: 0px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.head{
	float: right;
	color: #000;
  	background-color: #5bc0de;
  	border-color: #46b8da;
}
.head:hover{
  color: #000;
  background-color: #31b0d5;
  border-color: #269abc;
}


