*{
	padding: 0px;
	margin: 0px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
textarea{ 
  width: 470px; 
  min-width:470px; 
  max-width:470px; 
  height:60px; 
  min-height:60px;  
  max-height:60px;
}

#busca{
  width: 50%;
}
.head{
	width: 350px;
  height: 50px;
  float: right;
}

.login{
  width: 300px;
  height: 300px;
  margin: 11% auto;
  
}
.footer-center{
  width: 900px;
  height: 70px;
  margin: 0px auto;
}
.footer-center-logos{
  width: 150px;
  height: 60px;
  margin: 15px;
  float: left;
}

.post{
  width: 800px;
  height: 550px;
  margin: 0px auto;
  background-color: red;
  
}

.post-centro{
  float: left;
  width: 200px;
  height: 200px;
  margin: 27px;
  background-color: black
}

.post-centro-resumo{
  width: 100%;
  height: 150px;
  text-align: justify;
  color: green;
  background-color: yellow;
}
.post-centro-texto-titulo{
  width: 100%;
  height: 25px;
  margin: 0px auto;
  text-align: center;
  background-color: blue
}

.btn-post{
  height: 20px;
  width: 100px;
  border-radius: 6%;
}

.img-child{
  width: 120px;
}